{% extends "layout.html" %}

{% if title: %}
<title>TO DO List - {{ title }} </title>
{% else %}
<title>TO DO List</title>
{% endif %}

{% block content %}
    <div class="container">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="col-md-4">
                <legend class="border-bottom">Reset Password</legend>
                <div>
                    {{ form.email.label(class="form-control-label mb-2") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="my-3">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            
{% endblock content %}